@font-face {
    font-family: 'roboto-regular';
    src: url('./fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'roboto-bold';
    src: url('./fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'roboto-medium';
    src: url('./fonts/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'roboto-light';
    src: url('./fonts/Roboto-Light.ttf');
}

.roboto-regular {
    font-family: roboto-regular;
}
.roboto-bold{
    font-family: roboto-bold;
}
.roboto-medium {
    font-family: roboto-medium;
}
.roboto-light {
    font-family: roboto-light;
}